<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293458007614-bdl2eicn63t584kmd8m6dnjuao5fq19d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293458007614-bdl2eicn63t584kmd8m6dnjuao5fq19d</string>
	<key>API_KEY</key>
	<string>AIzaSyBDrC1ReclrvbSqp0Q7s_BtwXnrjq5p7bk</string>
	<key>GCM_SENDER_ID</key>
	<string>293458007614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobilepassport</string>
	<key>PROJECT_ID</key>
	<string>mobilepassport-7f862</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilepassport-7f862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293458007614:ios:59f7238f4673e3bb1b636f</string>
	<key>DATABASE_URL</key>
	<string>https://mobilepassport-7f862.firebaseio.com</string>
</dict>
</plist>